{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-12-12",
    "endpointPrefix":"machinelearning",
    "jsonVersion":"1.1",
    "serviceFullName":"Amazon Machine Learning",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonML_20141212",
    "protocol":"json"
  },
  "documentation":"Definition of the public APIs exposed by Amazon Machine Learning",
  "operations":{
    "CreateBatchPrediction":{
      "name":"CreateBatchPrediction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBatchPredictionInput"},
      "output":{
        "shape":"CreateBatchPredictionOutput",
        "documentation":"<p> Represents the output of a <a>CreateBatchPrediction</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateBatchPrediction</a> operation is asynchronous. You can poll for status updates by using the <a>GetBatchPrediction</a> operation and checking the <b>Status</b> field of the result. </p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        },
        {
          "shape":"IdempotentParameterMismatchException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
        }
      ],
      "documentation":"<p>Generates predictions for a group of observations. The observations to process exist in one or more data files referenced by a <code>DataSource</code>. This operation creates a new <code>BatchPrediction</code> object, and uses a <code>MLModel</code>, and the data files referenced by the <code>DataSource</code> as information sources. </p> <p><i>CreateBatchPrediction</i> is an asynchronous operation. Upon receiving a <i>CreateBatchPrediction</i> request, <i>AmazonML</i> immediately returns and sets the <code>batch prediction</code> status to <code>INITIALIZED</code>. After the <code>batch prediction</code> completes, <i>AmazonML</i> sets the status to <code>COMPLETED</code>. </p> <p>You can use the <a>GetBatchPrediction</a> operation to check the status of the <code>batch prediction</code> operation. Once the <code>COMPLETED</code> status appears, the results are availabe in the location specified by the <b>OutputUri</b> field.</p>"
    },
    "CreateDataSourceFromRDS":{
      "name":"CreateDataSourceFromRDS",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataSourceFromRDSInput"},
      "output":{
        "shape":"CreateDataSourceFromRDSOutput",
        "documentation":"<p> Represents the output of a <a>CreateDataSourceFromRDS</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateDataSourceFromRDS</a> operation is asynchronous. You can poll for updates by using the <a>GetBatchPrediction</a> operation and checking the <b>ValidationStatus</b> field. You can inspect the <b>failureMessage</b> when <b>Status</b> shows up as <b>FAILED</b>. You can also check the progress of the copy operation by going to the <b>DataPipeline</b> console and looking up the pipeline using the pipelineId from the describe call.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        },
        {
          "shape":"IdempotentParameterMismatchException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
        }
      ],
      "documentation":"<p>Creates a <code>DataSource</code> object. A <code>DataSource</code> describes the data used to train and to evaluate <code>MLModels</code>, and to make <code>batch predictions</code> on groups of observations. </p> <p><i>CreateDataSourceFromRDS</i> is an asynchronous operation. Upon receiving a <i>CreateDataSourceFromRDS</i> request, <i>AmazonML</i> immediately returns and sets the <code>DataSource</code> <b>Status</b> to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, <i>AmazonML</i> sets the <b>Status</b> to <code>COMPLETED</code>. When training or evaluating MLModels, or when submitting prediction requests in bulk for batch processing, use <code>DataSources</code> that have <code>COMPLETED</code> or <code>PENDING</code><b>Status</b> </p> <p>You can use the <a>GetBatchPrediction</a> operation to check progress of the DataSource during the creation operation. If there is an issue in accepting the input source, <i>AmazonML</i> sets the <b>Status</b> to <code>FAILED</code> with error message contained in <b>failureMessage</b> attribute in <a>GetBatchPrediction</a> api response. Failure details can also be viewed in the data pipeline console by searching against the <b>DataSourceId</b> specified in the input. </p>"
    },
    "CreateDataSourceFromRedshift":{
      "name":"CreateDataSourceFromRedshift",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataSourceFromRedshiftInput"},
      "output":{
        "shape":"CreateDataSourceFromRedshiftOutput",
        "documentation":"<p> Represents the output of a <a>CreateDataSourceFromRedshift</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateDataSourceFromRedshift</a> operation is asynchronous. You can poll for updates by using the <a>GetBatchPrediction</a> operation and checking the <b>ValidationStatus</b> field. </p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        },
        {
          "shape":"IdempotentParameterMismatchException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
        }
      ],
      "documentation":"<p>Creates a <code>DataSource</code> object. A <code>DataSource</code> describes the data used to train and to evaluate <code>MLModels</code>, and to make <code>batch predictions</code> on groups of observations. </p> <p><i>CreateDataSource</i> is an asynchronous operation. Upon receiving a <i>CreateDataSourceFromRedshift</i> request, <i>AmazonML</i> immediately returns and sets the <code>DataSource</code> <b>Status</b> to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, <i>AmazonML</i> sets the <b>Status</b> to <code>COMPLETED</code>. When training or evaluating MLModels, or when submitting prediction requests in bulk for batch processing, use <code>DataSources</code> that have <code>COMPLETED</code> or <code>PENDING</code><b>Status</b> </p> <p>You can use the <a>GetBatchPrediction</a> operation to check progress of the DataSource during the creation operation.</p> <p>The observation data used in Redshift DataSource should exist on database hosted on Redshift cluster and be specified by Select SQL Query. <i>AmazonML</i> executes <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/t_Unloading_tables.html\">Redshift Unload</a> to transfer the result set of Select SQL query to S3StagingLocation. </p> <p>Once the <code>DataSource</code> is created, it's ready to use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train a <code>MLModel</code>, the <code>DataSource</code> requires another item--a recipe. A recipe describes the observation variables that participate in training a <code>MLModel</code>. A recipe describes how each input variable will be used in training. Will the variable be included or excluded from training? Will the variable be manipulated, perhaps combined with another variable, or split apart into word combinations? The recipe addresses these items. See the <a href=\"https://s3.amazonaws.com/ML-docs/DeveloperGuide.pdf\">Developer Guide</a> for more information.</p>"
    },
    "CreateDataSourceFromS3":{
      "name":"CreateDataSourceFromS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataSourceFromS3Input"},
      "output":{
        "shape":"CreateDataSourceFromS3Output",
        "documentation":"<p> Represents the output of a <a>CreateDataSourceFromS3</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateDataSourceFromS3</a> operation is asynchronous. You can poll for updates by using the <a>GetBatchPrediction</a> operation and checking the <b>ValidationStatus</b> field. </p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        },
        {
          "shape":"IdempotentParameterMismatchException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
        }
      ],
      "documentation":"<p>Creates a <code>DataSource</code> object. A <code>DataSource</code> describes the data used to train and to evaluate <code>MLModels</code>, and to make <code>batch predictions</code> on groups of observations. </p> <p><i>CreateDataSource</i> is an asynchronous operation. Upon receiving a <i>CreateDataSourceFromS3</i> request, <i>AmazonML</i> immediately returns and sets the <code>DataSource</code> <b>Status</b> to <code>PENDING</code>. After the <code>DataSource</code> is created and ready for use, <i>AmazonML</i> sets the <b>Status</b> to <code>COMPLETED</code>. When training or evaluating MLModels, or when submitting prediction requests in bulk for batch processing, use <code>DataSources</code> that have <code>COMPLETED</code> or <code>PENDING</code><b>Status</b>. </p> <p>You can use the <a>GetBatchPrediction</a> operation to check progress of the DataSource during the creation operation.</p> <p>The observation data used in a DataSource should be ready to use; that is, it should have a consistent structure, and missing data values should be kept to a minimum. The observsation data must reside in one or more CSV files in an <i>Amazon Simple Storage Service (Amazon S3)</i> bucket, along with a schema that describes the data items by name and type. The same schema is be used for all of the data files referenced by the <code>DataSource</code>. </p> <p>Once the <code>DataSource</code> is created, it's ready to use in evaluations and batch predictions. If you plan to use the <code>DataSource</code> to train a <code>MLModel</code>, the <code>DataSource</code> requires another item--a recipe. A recipe describes the observation variables that participate in training a <code>MLModel</code>. A recipe describes how each input variable will be used in training. Will the variable be included or excluded from training? Will the variable be manipulated, perhaps combined with another variable, or split apart into word combinations? The recipe addresses these items. See the <a href=\"https://s3.amazonaws.com/archie-docs/DeveloperGuide.pdf\">Developer Guide</a> for more information.</p>"
    },
    "CreateEvaluation":{
      "name":"CreateEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEvaluationInput"},
      "output":{
        "shape":"CreateEvaluationOutput",
        "documentation":"<p> Represents the output of a <a>CreateEvaluation</a> operation, and is an acknowledgement that <i>AmazonML</i> received the request.</p> <p><a>CreateEvaluation</a> operation is asynchronous. You can poll for status updates by using the <a>GetEvaluation</a> operation, and checking the <b>Status</b> field. </p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        },
        {
          "shape":"IdempotentParameterMismatchException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
        }
      ],
      "documentation":"<p>Creates a new <i>Evaluation</i> of a <i>MLModel</i>. An <i>Evaluation</i> results from supplying a batch of observsation requests and a <i>MLModel</i> to <i>AmazonML</i> that creates a prediction for each observation. Like a <i>DataSource</i> for a <i>MLModel</i>, the <i>DataSource</i> for an <i>Evaluation</i> contains values for the <i>Target Variable</i>. The <i>Evaluation</i> compares the predicted result for each observation to the actual outcome and provides a summary so that you know how effective the <i>MLModel</i> functions on the test data. </p> <p><i>CreateEvaluation</i> is an asynchronous operation. Upon receiving a <i>CreateEvaluation</i> request, AmazonML immediately returns and sets the evaluation status to <code>INITIALIZED</code>. After the <i>Evaluation</i> is created and ready for use, AmazonML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <a>GetEvaluation</a> operation to check progress of the evaluation during the creation operation.</p>"
    },
    "CreateMLModel":{
      "name":"CreateMLModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMLModelInput"},
      "output":{
        "shape":"CreateMLModelOutput",
        "documentation":"<p> Represents the output of a <a>CreateMLModel</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateMLModel</a> operation is asynchronous. You can poll for status updates by using the <a>GetMLModel</a> operation, and checking the <b>Status</b> field. </p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        },
        {
          "shape":"IdempotentParameterMismatchException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>A second request to use or change an object was not allowed. This can result from retrying a request using a parameter that was not present in the original request.</p>"
        }
      ],
      "documentation":"<p>Creates a new <i>MLModel</i> from scratch, using a <i>DataSource</i>, the data files referenced by the <i>DataSource</i>, and the <b>recipe</b> as information sources. </p> <p><i>MLModels</i> are nearly immutable. Users can update two data elements--<b>Name</b> and <b>Threshold</b>--in a <i>MLModel</i> without creating a new <i>MLModel</i>. </p> <p><i>CreateMLModel</i> is an asynchronous operation. Upon receiving a <i>CreateMLModel</i> request, AmazonML immediately returns and sets the <i>MLModel</i> status to <code>INITIALIZED</code>. After the <i>MLModel</i> is created and ready for use, AmazonML sets the status to <code>COMPLETED</code>. </p> <p>You can use the <a>GetMLModel</a> operation to check progress of the <i>MLModel</i> during the creation operation.</p> <p> <a>CreateMLModel</a> requires a datasource with computed statistics, that can be created by setting <b>ComputeStatistics</b> to <code>true</code> in <a>CreateDataSourceFromRDS</a>, <a>CreateDataSourceFromS3</a> or <a>CreateDataSourceFromRedshift</a> </p>"
    },
    "CreateRealtimeEndpoint":{
      "name":"CreateRealtimeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRealtimeEndpointInput"},
      "output":{
        "shape":"CreateRealtimeEndpointOutput",
        "documentation":"<p>Represents the output of an <a>CreateRealtimeEndpoint</a> operation.</p> <p>The result provides the <b>MLModelId</b> and the endpoint information for the <i>MLModel</i>. Mount information is provided for the members of the computing fleet that have loaded the <i>MLModel</i>.</p> <note> <p>The endpoint information includes the endpoint URI; that is, the location to send online prediction requests for the specified <code>MLModel</code>.</p> </note>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Creates a real time endpoint <i>MLModel</i>; and sets the default request processing rate for an online <i>MLModel</i>.</p> <p>The URI that receives this API request specifies the region in which to install the <i>MLModel</i>.</p>"
    },
    "DeleteBatchPrediction":{
      "name":"DeleteBatchPrediction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBatchPredictionInput"},
      "output":{
        "shape":"DeleteBatchPredictionOutput",
        "documentation":"<p> Represents the output of a <a>DeleteBatchPrediction</a> operation.</p> <p>You can use the <a>GetBatchPrediction</a> operation and check the value of the <b>Status</b> field to see whether a <code>BatchPrediction</code> is marked as <code>DELETED</code>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Assigns the DELETED status to a <i>BatchPrediction</i>, rendering it unusable.</p> <p>After using the <i>DeleteBatchPrediction</i> operation, you can use the <a>GetBatchPrediction</a> operation to verify that the status of the <i>BatchPrediction</i> changed to DELETED.</p> <p><b>Caution</b> The result of the <i>DeleteBatchPrediction</i> operation is irreversible.</p>"
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDataSourceInput"},
      "output":{
        "shape":"DeleteDataSourceOutput",
        "documentation":"<p> Represents the output of a <a>DeleteDataSource</a> operation.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Assigns the DELETED status to a <i>DataSource</i>, rendering it unusable.</p> <p>After using the <i>DeleteDataSource</i> operation, you can use the <a>GetBatchPrediction</a> operation to verify that the status of the <i>DataSource</i> changed to DELETED.</p> <p><b>Caution</b> The results of the <i>DeleteDataSource</i> operation are irreversible.</p>"
    },
    "DeleteEvaluation":{
      "name":"DeleteEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEvaluationInput"},
      "output":{
        "shape":"DeleteEvaluationOutput",
        "documentation":"<p> Represents the output of a <a>DeleteEvaluation</a> operation. The output indicates that AmazonML received the request.</p> <p>You can use the <a>GetEvaluation</a> operation and check the value of the <b>Status</b> field to see whether an <code>Evaluation</code> is marked as <code>DELETED</code>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Assigns the <code>DELETED</code> status to an <i>Evaluation</i>, after which, the <i>Evaluation</i> is not usable.</p> <p>After invoking the <i>DeleteEvaluation</i> operation, you can use the <a>GetEvaluation</a> operation to verify that the status of the <i>Evaluation</i> changed to <code>DELETED</code>.</p> <p><b>Caution</b> The results of the <i>DeleteEvaluation</i> operation are irreversible.</p>"
    },
    "DeleteMLModel":{
      "name":"DeleteMLModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMLModelInput"},
      "output":{
        "shape":"DeleteMLModelOutput",
        "documentation":"<p>Represents the output of a <a>DeleteMLModel</a> operation.</p> <p>You can use the <a>GetMLModel</a> operation and check the value of the <b>Status</b> field to see whether a <code>MLModel</code> is marked as <code>DELETED</code>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Assigns the DELETED status to a <i>MLModel</i>, rendering it unusable.</p> <p>After using the <i>DeleteMLModel</i> operation, you can use the <a>GetMLModel</a> operation to verify that the status of the <i>MLModel</i> changed to DELETED.</p> <p><b>Caution</b> The result of the <i>DeleteMLModel</i> operation is irreversible.</p>"
    },
    "DeleteRealtimeEndpoint":{
      "name":"DeleteRealtimeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRealtimeEndpointInput"},
      "output":{
        "shape":"DeleteRealtimeEndpointOutput",
        "documentation":"<p>Represents the output of an <a>DeleteRealtimeEndpoint</a> operation.</p> <p>The result provides the <b>MLModelId</b> and the endpoint information for the <i>MLModel</i> </p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Deletes a real time endpoint <i>MLModel</i></p> <p>The URI that receives this API request specifies the region in which to delete the endpoint of the <i>MLModel</i>.</p>"
    },
    "DescribeBatchPredictions":{
      "name":"DescribeBatchPredictions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBatchPredictionsInput"},
      "output":{
        "shape":"DescribeBatchPredictionsOutput",
        "documentation":"<p>Represents the output of a <a>DescribeBatchPredictions</a> operation. The content is essentially a list of <i>BatchPredictions</i>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Returns a list of <i>BatchPredictions</i> and their associated data records that match the search criterion given in the request.</p>"
    },
    "DescribeDataSources":{
      "name":"DescribeDataSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataSourcesInput"},
      "output":{
        "shape":"DescribeDataSourcesOutput",
        "documentation":"<p>Represents the query results from a <a>DescribeDataSources</a> operation. The content is essentially a list of <i>DataSources</i>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Returns a list of <i>DataSources</i> and their associated data records that match the search criterion given in the request.</p>"
    },
    "DescribeEvaluations":{
      "name":"DescribeEvaluations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEvaluationsInput"},
      "output":{
        "shape":"DescribeEvaluationsOutput",
        "documentation":"<p>Represents the query results from a <a>DescribeEvaluations</a> operation. The content is essentially a list of <i>Evaluations</i>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Returns a list of <i>Evaluation</i> resources that match the search criterion given in the request. Also, this operation includes the data records associated with each <i>Evaluation</i> object.</p>"
    },
    "DescribeMLModels":{
      "name":"DescribeMLModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMLModelsInput"},
      "output":{
        "shape":"DescribeMLModelsOutput",
        "documentation":"<p>Represents the output of a <a>DescribeMLModels</a> operation. The content is essentially a list of <i>MLModels</i>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Returns a list of <i>MLModels</i> and their associated data records that match the search criterion given in the request.</p>"
    },
    "GetBatchPrediction":{
      "name":"GetBatchPrediction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBatchPredictionInput"},
      "output":{
        "shape":"GetBatchPredictionOutput",
        "documentation":"<p>Represents the output of a <a>GetBatchPrediction</a> operation, and describes a <i>BatchPrediction</i>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Returns the detailed metadata, including the schema, the status, and the data file information for a <i>Batch Prediction</i>.</p>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDataSourceInput"},
      "output":{
        "shape":"GetDataSourceOutput",
        "documentation":"<p>Represents the output of a <a>GetDataSource</a> operation, and describes a <i>DataSource</i>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Returns the metadata and data file information for a <i>DataSource</i>, as well as current status of the <i>DataSource</i>.</p> <p><i>GetDataSource</i> provides results in <b>normal</b> or <b>verbose</b> format. The <b>verbose</b> format adds the schema description and the list of files pointed to by the DataSource to the <b>normal</b> format.</p>"
    },
    "GetEvaluation":{
      "name":"GetEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEvaluationInput"},
      "output":{
        "shape":"GetEvaluationOutput",
        "documentation":"<p>Represents the output of a <a>GetEvaluation</a> operation, and describes an <i>Evaluation</i>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Returns metadata for an <i>Evaluation</i>, as well as current status of the <i>Evaluation</i>.</p> <p><i>GetEvaluation</i> provides results in <b>normal</b> or <b>verbose</b> format. </p>"
    },
    "GetMLModel":{
      "name":"GetMLModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMLModelInput"},
      "output":{
        "shape":"GetMLModelOutput",
        "documentation":"<p>Represents the output of a <a>GetMLModel</a> operation, and provides detailed information about a <i>MLModel</i>.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Returns the detail metadata, schema, and data file information for a <i>MLModel</i>, as well as current status of the <i>MLModel</i>.</p> <p><i>GetMLModel</i> provides results in <b>normal</b> or <b>verbose</b> format. </p>"
    },
    "Predict":{
      "name":"Predict",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PredictInput"},
      "output":{"shape":"PredictOutput"},
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{"httpStatusCode":417},
          "exception":true,
          "documentation":"<p>The subscriber exceeded the maximum number of operations. This exception can occur when listing objects such as <i>DataSources</i>.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        },
        {
          "shape":"PredictorNotMountedException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"This exception is thrown when a predict request is made to an unmounted predictor"
        }
      ],
      "documentation":"<p>A realtime operation that generates prediction for the observation using given ML Model Id</p> <p>Note that not all response fields will be populated as this is dependent on the type of requested model</p>"
    },
    "UpdateBatchPrediction":{
      "name":"UpdateBatchPrediction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateBatchPredictionInput"},
      "output":{
        "shape":"UpdateBatchPredictionOutput",
        "documentation":"<p>Represents the output of an <a>UpdateBatchPrediction</a> operation.</p> <p>You can see the updated content by using the <a>GetBatchPrediction</a> operation.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Replaces the user-supplied <b>Name</b> of a <i>BatchPrediction</i> with the contents of the <b>BatchPredictionName</b> parameter.</p> <p>You can use the <a>GetBatchPrediction</a> operation to view the contents of the updated data element.</p>"
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDataSourceInput"},
      "output":{
        "shape":"UpdateDataSourceOutput",
        "documentation":"<p>Represents the output of an <a>UpdateDataSource</a> operation.</p> <p>You can see the updated content by using the <a>GetBatchPrediction</a> operation.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Replaces the user-supplied <b>Name</b> of a <i>DataSource</i> with the contents of the <b>DataSourceName</b> parameter.</p> <p>You can use the <a>GetBatchPrediction</a> operation to view the contents of the updated data element.</p>"
    },
    "UpdateEvaluation":{
      "name":"UpdateEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEvaluationInput"},
      "output":{
        "shape":"UpdateEvaluationOutput",
        "documentation":"<p>Represents the output of an <a>UpdateEvaluation</a> operation.</p> <p>You can see the updated content by using the <a>GetEvaluation</a> operation.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Replaces the user-supplied <b>Name</b> of an <i>Evaluation</i> with the contents of the <b>EvaluationName</b> parameter.</p> <p>You can use the <a>GetEvaluation</a> operation to view the contents of the updated data member.</p>"
    },
    "UpdateMLModel":{
      "name":"UpdateMLModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMLModelInput"},
      "output":{
        "shape":"UpdateMLModelOutput",
        "documentation":"<p>Represents the output of an <a>UpdateMLModel</a> operation.</p> <p>You can see the updated content by using the <a>GetMLModel</a> operation.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>A specified resource cannot be located.</p>"
        },
        {
          "shape":"InternalServerException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "fault":true,
          "documentation":"<p>An error on the server occurred when trying to process a request.</p>"
        }
      ],
      "documentation":"<p>Replaces the user-supplied <b>Name</b> of a <i>MLModel</i> with the contents of the <b>MLModelName</b> parameter.</p> <p>You can use the <a>GetMLModel</a> operation to view the contents of the updated data element.</p>"
    }
  },
  "shapes":{
    "Algorithm":{
      "type":"string",
      "enum":["sgd"],
      "documentation":"<p>The function used to train a <i>MLModel</i>. Training choices supported by AmazonML include the following:</p> <ul> <li>SGD - Stochastic Gradient Descent.</li> <li>RandomForest - Random forest of decision trees.</li> </ul>"
    },
    "AwsUserArn":{
      "type":"string",
      "pattern":"arn:aws:iam::[0-9]+:((user/.+)|(root))",
      "documentation":"<p>An Amazon Web Service (AWS) user account identifier. The account identifier can be an AWS root account or an IAM user.</p>"
    },
    "BatchPrediction":{
      "type":"structure",
      "members":{
        "BatchPredictionId":{
          "shape":"EntityId",
          "documentation":"<p>The ID assigned to the <code>BatchPrediction</code> at creation. This value should be identical to the value of the <b>BatchPredictionID</b> in the request. </p>"
        },
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>The ID of the <code>MLModel</code> that generated predictions for the <i>BatchPrediction</i> request.</p>"
        },
        "BatchPredictionDataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>The ID of the <i>DataSource</i> supplying information for the <i>BatchPrediction</i>. The <i>DataSource</i> points to the data file(s) that contain the observations for the request. </p>"
        },
        "InputDataLocationS3":{
          "shape":"S3Url",
          "documentation":"<p>The location and name of the single data file used in the <i>BatchPrediction</i>.</p> <p>This field is used when an <i>AmazonML</i> workflow originates the <code>BatchPrediction</code> request.</p>"
        },
        "CreatedByIamUser":{
          "shape":"AwsUserArn",
          "documentation":"<p>The AWS user account that invoked the <i>BatchPrediction</i>. The account type can be either an AWS root account or IAM user account.</p>"
        },
        "CreatedAt":{
          "shape":"EpochTime",
          "documentation":"<p>The time that the <i>BatchPrediction</i> was created. The time is expressed in epoch time.</p>"
        },
        "LastUpdatedAt":{
          "shape":"EpochTime",
          "documentation":"<p>The time of the most recent edit to the <i>BatchPrediction</i> <b>Name</b> field. The time is expressed in epoch time.</p>"
        },
        "Name":{
          "shape":"EntityName",
          "documentation":"<p>A user-supplied name or description of the <i>BatchPrediction</i> for human recognizition and remembrance. </p>"
        },
        "Status":{
          "shape":"EntityStatus",
          "documentation":"<p>The status of the <i>BatchPrediction</i>. This element can have one of the following values:</p> <ul> <li> <code>PENDING</code> - AmazonML submitted a request to generate predictions for a batch of observations.</li> <li> <code>INPROGRESS</code> - The process is underway.</li> <li> <code>FAILED</code> - The request to peform a batch prediction did not run to completion. It is not usable.</li> <li> <code>COMPLETED</code> - The batch prediction processs completed successufully.</li> <li> <code>DELETED</code> - The <i>BatchPrediction</i> is marked as deleted. It is not usable.</li> </ul>"
        },
        "OutputUri":{
          "shape":"S3Url",
          "documentation":"<p>Location of an Amazon S3 bucket or directory to receive the <code>batch prediction</code>operation results, including the value of the <b>Target Variable</b>.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>Description of the most recent details about processing the batch prediction request.</p>"
        }
      },
      "documentation":"<p> Describes a <code>BatchPrediction</code> object. The content consists of meta-data, such as <i>AmazonML</i> resources used to build the <code>BatchPrediction</code> object or the <b>Status</b> of the object.</p> <p> Provides results to the <a>DescribeBatchPredictions</a> operation.</p>"
    },
    "BatchPredictionFilterVariable":{
      "type":"string",
      "enum":[
        "CreatedAt",
        "LastUpdatedAt",
        "Status",
        "Name",
        "IAMUser",
        "MLModelId",
        "DataSourceId",
        "DataURI"
      ],
      "documentation":"<p>A list of the variables to use in searching or filtering <i>BatchPredictions</i>.</p> <ul> <li> <code>CreatedAt</code> - sets the search criteria to <i>BatchPrediction</i> creation date.</li> <li> <code>Status</code> - sets the search criteria to <i>BatchPrediction</i> status.</li> <li> <code>Name</code> - sets the search criteria to the contents of <i>BatchPrediction</i><b> </b> <b>Name</b>.</li> <li> <code>IAMUser</code> - sets the search criteria to the user account that invoked the <i>BatchPrediction</i> creation.</li> <li> <code>MLModelId</code> - sets the search criteria to the <i>MLModel</i> used in the <i>BatchPrediction</i>.</li> <li> <code>DataSourceId</code> - sets the search criteria to the <i>DataSource</i> used in the <i>BatchPrediction</i>.</li> <li> <code>DataURI</code> - sets the search criteria to the data file(s) used in the <i>BatchPrediction</i>. The URL can identify either a file, or an Amazon S3 bucket or directory.</li> </ul>"
    },
    "BatchPredictions":{
      "type":"list",
      "member":{"shape":"BatchPrediction"}
    },
    "ComparatorValue":{
      "type":"string",
      "max":1024,
      "pattern":".*\\S.*|^$",
      "documentation":"<p>The value specified in a filtering condition. The <b>ComparatorValue</b> becomes the reference value when matching or evaluating data values in filtering and searching functions.</p>"
    },
    "ComputeStatistics":{"type":"boolean"},
    "CreateBatchPredictionInput":{
      "type":"structure",
      "required":[
        "BatchPredictionId",
        "MLModelId",
        "BatchPredictionDataSourceId",
        "OutputUri"
      ],
      "members":{
        "BatchPredictionId":{
          "shape":"EntityId",
          "documentation":"<p>A customer or user-supplied identifier that uniquely identifies the <i>BatchPrediction</i>.</p>"
        },
        "BatchPredictionName":{
          "shape":"EntityName",
          "documentation":"<p>A user-supplied name or description of the <i>BatchPrediction</i> for human recognizition and remembrance. Uses characters from the UTF-8 character set.</p>"
        },
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>Id of the <code>MLModel</code> that will generate predictions for the group of observations. </p>"
        },
        "BatchPredictionDataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>Id of the <code>datasource</code> that points to the group of observations to predict.</p>"
        },
        "OutputUri":{
          "shape":"S3Url",
          "documentation":"<p>Location of an Amazon S3 bucket or directory to store the batch prediction results.</p> <p> Please make sure Amazon Machine Learning has permissions to store and retrieve the logs on your behalf</p>"
        }
      }
    },
    "CreateBatchPredictionOutput":{
      "type":"structure",
      "members":{
        "BatchPredictionId":{
          "shape":"EntityId",
          "documentation":"<p>user-supplied identifier that uniquely identifies the <i>BatchPrediction</i>. This value is identical to the value of the <b>BatchPredictionId</b> in the request.</p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>CreateBatchPrediction</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateBatchPrediction</a> operation is asynchronous. You can poll for status updates by using the <a>GetBatchPrediction</a> operation and checking the <b>Status</b> field of the result. </p>"
    },
    "CreateDataSourceFromRDSInput":{
      "type":"structure",
      "required":[
        "DataSourceId",
        "RDSData",
        "RoleARN"
      ],
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>Customer or user-supplied identifier that uniquely identifies the <code>DataSource</code>. Typically, an Amazon Resource Number (ARN) becomes the Id for a <code>DataSource</code>.</p>"
        },
        "DataSourceName":{
          "shape":"EntityName",
          "documentation":"<p>User-supplied name or description of the <code>DataSource</code> for human recognizition and remembrance. </p>"
        },
        "RDSData":{
          "shape":"RDSDataSpec",
          "documentation":"<p>Describes Database Information, SQL Query, Database Credentials, S3StagingLocation, DataRearrangement, Schema and Security Info for RDS DataSource </p> <ul> <li><p>DatabaseInformation - details about RDS instance, includes <code>InstanceIdentifier</code> and <code>DatabaseName</code> of the RDS instance. </p></li> <li><p>DatabaseCredentials - credentials to connect to the database, includes <code>username</code> and <code>password</code>.</p></li> <li><p>ResourceRole - role Ec2 instance that is spun up by data pipeline to carry out the copy task from RDS to S3 can assume. See <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html\">Role templates</a> for data pipelines for more info. </p></li> <li><p>ServiceRole - role DataPipeline service can assume. See <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html\">Role templates</a> for data pipelines for more info. </p></li> <li><p>SecurityInfo - Security info to use to access RDS instance. Specify [<code>SubnetId</code>, <code>SecurityGroupIds</code>] pair for a VPC based RDS or specify [<code>SecurityGroupNames</code>] for classic RDS. </p></li> <li><p>SelectSqlQuery - query to retrieve the observations for the datasource.</p></li> <li><p>S3StagingLocation - S3 location to copy from rds database, the observations of datasource. </p></li> <li><p>DataSchema - Schema S3 location, Schema object specifying the schema for all observations of datasource.</p></li> <li><p>DataRearrangement - Shuffling, Sampling and Splitting specifications of the observations of datasource. </p></li> </ul>"
        },
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p> Fully Specified Role <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a>.<i>AmazonML</i> assumes the role on behalf of customer to configure:</p> <p> <ul> <li><p>Role that <i>AmazonML</i> assumes to create and activate a data pipeline to perform copy of data (using the SQL query) from RDS to S3.</p></li> </ul> </p>"
        },
        "ComputeStatistics":{
          "shape":"ComputeStatistics",
          "documentation":"<p>Compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by a <code>DataSource</code>. <i>AmazonML</i> uses the statistics internally during <code>MLModel</code> training. This parameter must be set to true, if the <code></code>DataSource<code></code> needs to be used for <code>MLModel</code> training </p>"
        }
      }
    },
    "CreateDataSourceFromRDSOutput":{
      "type":"structure",
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>user-supplied identifier that uniquely identifies the datasource. This value should be identical to the value of the <b>DataSourceID</b> in the request. </p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>CreateDataSourceFromRDS</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateDataSourceFromRDS</a> operation is asynchronous. You can poll for updates by using the <a>GetBatchPrediction</a> operation and checking the <b>ValidationStatus</b> field. You can inspect the <b>failureMessage</b> when <b>Status</b> shows up as <b>FAILED</b>. You can also check the progress of the copy operation by going to the <b>DataPipeline</b> console and looking up the pipeline using the pipelineId from the describe call.</p>"
    },
    "CreateDataSourceFromRedshiftInput":{
      "type":"structure",
      "required":[
        "DataSourceId",
        "DataSpec",
        "RoleARN"
      ],
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>Customer or user-supplied identifier that uniquely identifies the <code>DataSource</code>.</p>"
        },
        "DataSourceName":{
          "shape":"EntityName",
          "documentation":"<p>User-supplied name or description of the <code>DataSource</code> for human recognizition and remembrance. </p>"
        },
        "DataSpec":{
          "shape":"RedshiftDataSpec",
          "documentation":"<p>details about new datasource:Database Information, SQL Query, Database Credentials, S3StagingLocation, DataRearrangement, Schema for Redshift DataSource </p> <ul> <li><p>DatabaseInformation - <ul> <li> <code>DatabaseName </code> - Name of the Amazon Redshift database </li> <li> <code> ClusterIdentifier </code> - A unique identifier for the Amazon Redshift cluster</li> </ul></p></li> <li><p>DatabaseCredentials - credentials to connect to the database </p></li> <li><p>SelectSqlQuery - query to retrieve the observations for the datasource.</p></li> <li><p>S3StagingLocation - S3 location to copy from redshift database, the observations of datasource </p></li> <li><p>DataSchema - Schema S3 location, Schema object specifying the schema for all observations of datasource</p></li> <li><p>DataRearrangement - Shuffling, Sampling and Splitting specifications of the observations of datasource </p></li> </ul>"
        },
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p> Fully Specified Role <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a>.<i>AmazonML</i> assumes the role on behalf of customer to configure:</p> <p> <ul> <li><p>cluster security groups to allow <i>AmazonML</i> to connect to Redshift cluster to execute SelectSqlQuery specified by the customer</p></li> <li><p>configures S3 bucket policy to allow <i>AmazonML</i> read/write S3StagingLocation</p></li> </ul> </p>"
        },
        "ComputeStatistics":{
          "shape":"ComputeStatistics",
          "documentation":"<p>Compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by a <code>DataSource</code>. <i>AmazonML</i> uses the statistics internally during <code>MLModel</code> training. This parameter must be set to true, if the <code></code>DataSource<code></code> needs to be used for <code>MLModel</code> training</p>"
        }
      }
    },
    "CreateDataSourceFromRedshiftOutput":{
      "type":"structure",
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>user-supplied identifier that uniquely identifies the datasource. This value should be identical to the value of the <b>DataSourceID</b> in the request. </p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>CreateDataSourceFromRedshift</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateDataSourceFromRedshift</a> operation is asynchronous. You can poll for updates by using the <a>GetBatchPrediction</a> operation and checking the <b>ValidationStatus</b> field. </p>"
    },
    "CreateDataSourceFromS3Input":{
      "type":"structure",
      "required":[
        "DataSourceId",
        "DataSpec"
      ],
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>User-supplied identifier that uniquely identifies the <code>DataSource</code>. </p>"
        },
        "DataSourceName":{
          "shape":"EntityName",
          "documentation":"<p>User-supplied name or description of the <code>DataSource</code> for human recognizition and remembrance. </p>"
        },
        "DataSpec":{
          "shape":"S3DataSpec",
          "documentation":"<p>Contains details about the new datasource: schema and the datafile(s) containing the observation data. </p> <p>You can provide schema information for the observation data in one of two ways:</p> <ul> <li><p>Enter schema information directly using the <b>DataSchema</b> parameter.</p></li> <li><p>Specify the name and path of the file containing the schema information using the <b>DataSchemaLocationS3</b> parameter. Note that the file of schema data must reside on <i>Amazon S3</i>.</p></li> </ul> <p>The format of the schema is defined in the Schema topic of the <i>Developer Guide</i>.</p> <p>In addition to the schema, you can specify two manipulations to perform on the observation data while building the <code>DataSource</code>. These data arrangement can be either: </p> <ul> <li><p><code>Shuffling</code> re-arranges the sequence of the observations as they feed into <code>MLModel</code> training.</p></li> <li><p><code>Downsampling</code> reduces the number of observations used to create a <code>MLModel</code>, and potentially raises the effectiveness of a <code>MLModel</code> by gently refocusing the analysis to a more general level.</p></li> </ul> <p>One or more files can contain observation data. Files containing observation data must reside on <i>Amazon S3</i>. If specifying a single file, provide the full file name, including the path. If specifying more than one file, specify the path. <i>AmazonML</i> assumes all observation data files reside in the same <i>Amazon S3</i> bucket or folder. </p> <p><i>AmazonML</i> assumes that all data observation files in a DataSource use the same schema.</p>"
        },
        "ComputeStatistics":{
          "shape":"ComputeStatistics",
          "documentation":"<p>Compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by a <code>DataSource</code>. <i>AmazonML</i> uses the statistics internally during <code>MLModel</code> training. This parameter must be set to true, if the <code></code>DataSource<code></code> needs to be used for <code>MLModel</code> training</p>"
        }
      }
    },
    "CreateDataSourceFromS3Output":{
      "type":"structure",
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>user-supplied identifier that uniquely identifies the datasource. This value should be identical to the value of the <b>DataSourceID</b> in the request. </p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>CreateDataSourceFromS3</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateDataSourceFromS3</a> operation is asynchronous. You can poll for updates by using the <a>GetBatchPrediction</a> operation and checking the <b>ValidationStatus</b> field. </p>"
    },
    "CreateEvaluationInput":{
      "type":"structure",
      "required":[
        "EvaluationId",
        "MLModelId",
        "EvaluationDataSourceId"
      ],
      "members":{
        "EvaluationId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <code>evaluation</code>.</p>"
        },
        "EvaluationName":{
          "shape":"EntityName",
          "documentation":"<p>A user-supplied name or description of the <i>Evaluation</i> for human recognizition and remembrance.</p>"
        },
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>Id of the <code>MLModel</code> to evaluate.</p> <p>The schema used in creating the <i>MLModel</i> must match the schema of the <code>DataSource</code> used in the <code>evaluation</code>.</p>"
        },
        "EvaluationDataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>Id of the <i>DataSource</i> for the evaluation. The schema of the <i>DataSource</i> must match schema used to create the <i>MLModel</i>.</p>"
        }
      }
    },
    "CreateEvaluationOutput":{
      "type":"structure",
      "members":{
        "EvaluationId":{
          "shape":"EntityId",
          "documentation":"<p>User-supplied identifier that uniquely identifies the <i>Evaluation</i>. This value should be identical to the value of the <b>EvaluationId</b> in the request.</p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>CreateEvaluation</a> operation, and is an acknowledgement that <i>AmazonML</i> received the request.</p> <p><a>CreateEvaluation</a> operation is asynchronous. You can poll for status updates by using the <a>GetEvaluation</a> operation, and checking the <b>Status</b> field. </p>"
    },
    "CreateMLModelInput":{
      "type":"structure",
      "required":[
        "MLModelId",
        "MLModelType",
        "TrainingDataSourceId"
      ],
      "members":{
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>MLModel</i>.</p>"
        },
        "MLModelName":{
          "shape":"EntityName",
          "documentation":"<p>A user-supplied name or description of the <i>MLModel</i> for human recognizition and remembrance.</p>"
        },
        "MLModelType":{
          "shape":"MLModelType",
          "documentation":"<p>The category of supervised learning that this <i>MLModel</i> will address. Choose from the following types:</p> <ul> <li>Choose <code>REGRESSION</code> if the <i>MLModel</i> result is a regression result (numeric value).</li> <li>Choose <code>BINARY</code> if the <i>MLModel</i> result has to two possible values</li> <li>Choose <code>MULTICLASS</code> if the <i>MLModel</i> result has a limited number of values. </li> </ul>"
        },
        "Parameters":{
          "shape":"TrainingParameters",
          "documentation":"<p>A list of the training parameters in the <i>MLModel</i>. The list is implemented as a map of of key/value pairs.</p> <p>The current set of training parameters follows:</p> <ul> <li> <p><code>sgd.l1RegularizationAmount</code> - Coefficient regularization L1 norm. Controls overfitting the data by penalizing large coefficients. Tends to drive coefficients to zero, resulting in sparse feature set. If used, specify a small value, such as 1.0E-04 or 1.0E-08.</p> <p>Implemented as a double. Range is 0 to MAX_DOUBLE. Default is not to use L1 normalization. Cannot be used when <i>L2</i> is specified. Use sparingly.</p> </li> <li> <p><code>sgd.l2RegularizationAmount</code> - Coefficient regularization L2 norm. Controls overfitting the data by penalizing large coefficients. Tends to drive coefficients to small, nonzero values. If used, specify a small value, such as 1.0E-04 or 1.0E-08.</p> <p>Implemented as a double. Range is 0 to MAX_DOUBLE. Default is not to use L2 normalization. Cannot be used when <i>L1</i> is specified. Use sparingly.</p> </li> <li><p><code>sgd.maxPasses</code> - Number of times that the training process traverses the observations to build the <i>MLModel</i>. The value is an integer that ranges from 1 through 10000 for SGD. The default value is 10. </p></li> <li> <p><code>sgd.maxMLModelSizeInBytes</code> - Maximum allowed size of the model.</p> <p> Depending on the input data, the model size might affect the performance. </p> <p> Implemented as an integer. Range is 100000 through 2147483648. Default value is 33554432. </p> </li> </ul>"
        },
        "TrainingDataSourceId":{
          "shape":"EntityId",
          "documentation":"<p><i>DataSource</i> that points to the training data.</p>"
        },
        "Recipe":{
          "shape":"Recipe",
          "documentation":"<p>Data recipe for creating <i>MLModel</i>. Either the recipe or its Uri must be specified.</p>"
        },
        "RecipeUri":{
          "shape":"S3Url",
          "documentation":"<p>Ammazon S3 location and file name that contains the <i>MLModel</i> recipe. Either the recipe or its Uri must be specified.</p>"
        }
      }
    },
    "CreateMLModelOutput":{
      "type":"structure",
      "members":{
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>A User-supplied identifier that uniquely identifies the <i>MLModel</i>. This value should be identical to the value of the <b>MLModelId</b> in the request. </p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>CreateMLModel</a> operation, and is an acknowledgement that AmazonML received the request.</p> <p>The <a>CreateMLModel</a> operation is asynchronous. You can poll for status updates by using the <a>GetMLModel</a> operation, and checking the <b>Status</b> field. </p>"
    },
    "CreateRealtimeEndpointInput":{
      "type":"structure",
      "required":["MLModelId"],
      "members":{
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>The ID assigned to the <i>MLModel</i> during creation.</p>"
        }
      }
    },
    "CreateRealtimeEndpointOutput":{
      "type":"structure",
      "members":{
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>user-supplied identifier that uniquely identifies the <i>MLModel</i>. This value should be identical to the value of the <b>MLModelId</b> in the request.</p>"
        },
        "RealtimeEndpointInfo":{
          "shape":"RealtimeEndpointInfo",
          "documentation":"<p>The endpoint information of the <i>MLModel</i> </p>"
        }
      },
      "documentation":"<p>Represents the output of an <a>CreateRealtimeEndpoint</a> operation.</p> <p>The result provides the <b>MLModelId</b> and the endpoint information for the <i>MLModel</i>. Mount information is provided for the members of the computing fleet that have loaded the <i>MLModel</i>.</p> <note> <p>The endpoint information includes the endpoint URI; that is, the location to send online prediction requests for the specified <code>MLModel</code>.</p> </note>"
    },
    "DataRearrangement":{
      "type":"string",
      "documentation":"<p>A JSON string that specifies parameters for shuffling, downsampling, splitting in the <i>DataSource</i>.</p> <ul> <li><p>Shuffling re-arranges the order in which observations feed into <i>AmazonML</i> during training.</p></li> <li><p>Downsampling reduces the number of observations used to create a MLModel, and potentially increases the effectiveness of a MLModel by reducing noise in the data samples.</p></li> <li><p>Splitting specifies the range of observations that need to be included to be referenced by DataSource</p></li> </ul>"
    },
    "DataSchema":{
      "type":"string",
      "max":131071,
      "documentation":"<p>The schema of a <i>DataSource</i>. The <b>DataSchema</b> defines the structure of the observation data in the data file(s) referenced in the <i>DataSource</i>. The DataSource schema expressed in JSON format.</p> { \"version\": \"1.0\", \"recordAnnotationFieldName\": \"F1\", \"recordWeightFieldName\": \"F2\", \"targetFieldName\": \"F3\", \"dataFormat\": \"CSV\", \"dataFileContainsHeader\": true, \"variables\": [ { \"fieldName\": \"F1\", \"fieldType\": \"TEXT\" }, { \"fieldName\": \"F2\", \"fieldType\": \"NUMERIC\" }, { \"fieldName\": \"F3\", \"fieldType\": \"CATEGORICAL\" }, { \"fieldName\": \"F4\", \"fieldType\": \"NUMERIC\" }, { \"fieldName\": \"F5\", \"fieldType\": \"CATEGORICAL\" }, { \"fieldName\": \"F6\", \"fieldType\": \"TEXT\" }, { \"fieldName\": \"F7\", \"fieldType\": \"WEIGHTED_INT_SEQUENCE\" }, { \"fieldName\": \"F8\", \"fieldType\": \"WEIGHTED_STRING_SEQUENCE\" } ], \"excludedVariableNames\": [ \"F6\" ] }"
    },
    "DataSource":{
      "type":"structure",
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>The identification number assigned to the <i>DataSource</i> during creation.</p>"
        },
        "DataLocationS3":{
          "shape":"S3Url",
          "documentation":"<p>The location and name of the single data file that is used by a <i>DataSource</i>.</p>"
        },
        "DataRearrangement":{
          "shape":"DataRearrangement",
          "documentation":"<p>A JSON string that specifies parameters for shuffling, downsampling and defining the observation variables to include in the <i>DataSource</i>.</p> <p>Shuffline re-arranges the sequence of the observation variables.</p> <p>Downsampling reduces the number of observations used to create a <i>MLModel</i>, and potentially raises the effectiveness of a <i>MLModel</i> by gently refocusing the analysis to a more general level. </p>"
        },
        "CreatedByIamUser":{
          "shape":"AwsUserArn",
          "documentation":"<p>The AWS user account from which the <i>DataSource</i> was created. The account type can be either an AWS root account or IAM user account.</p>"
        },
        "CreatedAt":{
          "shape":"EpochTime",
          "documentation":"<p>The time that the <i>DataSource</i> was created. The time is expressed in epoch time.</p>"
        },
        "LastUpdatedAt":{
          "shape":"EpochTime",
          "documentation":"<p>The time of the most recent edit to the <i>BatchPrediction</i>. The time is expressed in epoch time.</p>"
        },
        "DataSizeInBytes":{
          "shape":"LongType",
          "documentation":"<p>The total number of observations contained in the data files that the <i>DataSource</i> references.</p>"
        },
        "NumberOfFiles":{"shape":"LongType"},
        "Name":{
          "shape":"EntityName",
          "documentation":"<p>A user-supplied name or description of the <i>DataSource</i> for human recognizition and remembrance.</p>"
        },
        "Status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the <i>DataSource</i>. This element can have one of the following values: </p> <ul> <li>PENDING -- AmazonML submitted a request to create a <i>DataSource</i>.</li> <li>INPROGRESS -- The creation process is underway.</li> <li>FAILED -- The request to create a <i>DataSource</i> did not run to completion. It is not usable.</li> <li>COMPLETED -- The creation processs completed successufully.</li> <li>DELETED -- The <i>DataSource</i> is marked as deleted. It is not usable.</li> </ul>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>Description of the most recent details about accessing the <i>DataSource</i>.</p>"
        },
        "RedshiftMetadata":{"shape":"RedshiftMetadata"},
        "RDSMetadata":{"shape":"RDSMetadata"},
        "RoleARN":{"shape":"RoleARN"},
        "ComputeStatistics":{"shape":"ComputeStatistics"}
      },
      "documentation":"<p> Describes a <i>DataSource</i> object.</p> <p> Provides results to the <a>GetBatchPrediction</a> operation in <b>Normal</b> format, and the <a>DescribeDataSources</a> operation.</p>"
    },
    "DataSourceFilterVariable":{
      "type":"string",
      "enum":[
        "CreatedAt",
        "LastUpdatedAt",
        "Status",
        "Name",
        "DataLocationS3",
        "IAMUser"
      ],
      "documentation":"<p>A list of the variables to use in searching or filtering <i>DataSources</i>.</p> <ul> <li> <code>CreatedAt</code> - sets the search criteria to <i>DataSource</i> creation date.</li> <li> <code>Status</code> - sets the search criteria to <i>DataSources</i> status.</li> <li> <code>Name</code> - sets the search criteria to the contents of <i>DataSources</i> <b> </b> <b>Name</b>.</li> <li> <code>DataUri</code> - sets the search criteria to the URI of data files used to create the <i>DataSource</i>. The URI can identify either a file, or an Amazon S3 bucket or directory.</li> <li> <code>IAMUser</code> - sets the search criteria to the user account that invoked the <i>DataSource</i> creation.</li> </ul> <note> <p>The variable names should match the variable names in the <code>DataSource</code> DAO object.</p> </note>"
    },
    "DataSources":{
      "type":"list",
      "member":{"shape":"DataSource"}
    },
    "DeleteBatchPredictionInput":{
      "type":"structure",
      "required":["BatchPredictionId"],
      "members":{
        "BatchPredictionId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>BatchPrediction</i>.</p>"
        }
      }
    },
    "DeleteBatchPredictionOutput":{
      "type":"structure",
      "members":{
        "BatchPredictionId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>BatchPrediction</i>. This value should be identical to the value of the <b>BatchPredictionID</b> in the request.</p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>DeleteBatchPrediction</a> operation.</p> <p>You can use the <a>GetBatchPrediction</a> operation and check the value of the <b>Status</b> field to see whether a <code>BatchPrediction</code> is marked as <code>DELETED</code>.</p>"
    },
    "DeleteDataSourceInput":{
      "type":"structure",
      "required":["DataSourceId"],
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>DataSource</i>.</p>"
        }
      }
    },
    "DeleteDataSourceOutput":{
      "type":"structure",
      "members":{
        "DataSourceId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>DataSource</i>. This value should be identical to the value of the <b>DataSourceID</b> in the request.</p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>DeleteDataSource</a> operation.</p>"
    },
    "DeleteEvaluationInput":{
      "type":"structure",
      "required":["EvaluationId"],
      "members":{
        "EvaluationId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>Evaluation</i> to delete.</p>"
        }
      }
    },
    "DeleteEvaluationOutput":{
      "type":"structure",
      "members":{
        "EvaluationId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>Evaluation</i>. This value should be identical to the value of the <b>EvaluationId</b> in the request.</p>"
        }
      },
      "documentation":"<p> Represents the output of a <a>DeleteEvaluation</a> operation. The output indicates that AmazonML received the request.</p> <p>You can use the <a>GetEvaluation</a> operation and check the value of the <b>Status</b> field to see whether an <code>Evaluation</code> is marked as <code>DELETED</code>.</p>"
    },
    "DeleteMLModelInput":{
      "type":"structure",
      "required":["MLModelId"],
      "members":{
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>MLModel</i>.</p>"
        }
      }
    },
    "DeleteMLModelOutput":{
      "type":"structure",
      "members":{
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>A user-supplied identifier that uniquely identifies the <i>MLModel</i>. This value should be identical to the value of the <b>MLModelID</b> in the request.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <a>DeleteMLModel</a> operation.</p> <p>You can use the <a>GetMLModel</a> operation and check the value of the <b>Status</b> field to see whether a <code>MLModel</code> is marked as <code>DELETED</code>.</p>"
    },
    "DeleteRealtimeEndpointInput":{
      "type":"structure",
      "required":["MLModelId"],
      "members":{
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>The ID assigned to the <i>MLModel</i> during creation.</p>"
        }
      }
    },
    "DeleteRealtimeEndpointOutput":{
      "type":"structure",
      "members":{
        "MLModelId":{
          "shape":"EntityId",
          "documentation":"<p>user-supplied identifier that uniquely identifies the <i>MLModel</i>. This value should be identical to the value of the <b>MLModelId</b> in the request.</p>"
        },
        "RealtimeEndpointInfo":{
          "shape":"RealtimeEndpointInfo",
          "documentation":"<p>The endpoint information of the <i>MLModel</i> </p>"
        }
      },
      "documentation":"<p>Represents the output of an <a>DeleteRealtimeEndpoint</a> operation.</p> <p>The result provides the <b>MLModelId</b> and the endpoint information for the <i>MLModel</i> </p>"
    },
    "DescribeBatchPredictionsInput":{
      "type":"structure",
      "members":{
        "FilterVariable":{
          "shape":"BatchPredictionFilterVariable",
          "documentation":"<p>A list of the data elements that can be used to search for <i>BatchPredictions</i>.</p> <ul> <li> <code>CreatedAt</code> - sets the search criteria to <i>BatchPrediction</i> creation date.</li> <li> <code>Status</code> - sets the search criteria to <i>BatchPrediction</i> status.</li> <li> <code>Name</code> - sets the search criteria to the contents of <i>BatchPrediction</i><b> </b> <b>Name</b>.</li> <li> <code>IAMUser</code> - sets the search criteria to the user account that invoked the <i>BatchPrediction</i> creation.</li> <li> <code>MLModelId</code> - sets the search criteria to the <i>MLModel</i> used in the <i>BatchPrediction</i>.</li> <li> <code>DataSourceId</code> - sets the search criteria to the <i>DataSource</i> used in the <i>BatchPrediction</i>.</li> <li> <code>DataURI</code> - sets the search criteria to the data file(s) used in the <i>BatchPrediction</i>. The URL can identify either a file, or an Amazon S3 bucket or directory.</li> </ul>"
        },
        "EQ":{
          "shape":"ComparatorValue",
          "documentation":"<p>Equal to operator. The value that follows <b>EQ</b> is a value to match. The <i>BatchPredictions</i> that are placed in the results list will have <i>FilterVariable</i> values that exactly match the value specified with <b>EQ</b>.</p>"
        },
        "GT":{
          "shape":"ComparatorValue",
          "documentation":"<p>Greater than operator. The value that follows <b>GT</b> is a minimum value. The <i>BatchPredictions</i> that are placed in the results list will have <i>FilterVariable</i> values that are greater than the value specified with <b>GT</b>.</p>"
        },
        "LT":{
          "shape":"ComparatorValue",
          "documentation":"<p>Less than operator. The value that follows <b>LT</b> is a maximum value. The <i>BatchPredictions</i> that are placed in the results list will have <i>FilterVariable</i> values that are less than the value specified with <b>LT</b>.</p>"
        },
        "GE":{
          "shape":"ComparatorValue",
          "documentation":"<p>Greater than or equal to operator. The value that follows <b>GE</b> is a minimum value. The <i>BatchPredictions</i> that are placed in the results list will have <i>FilterVariable</i> values that are greater than or equal to the value specified with <b>GE</b>. </p>"
        },
        "LE":{
          "shape":"ComparatorValue",
          "documentation":"<p>Less than or equal to operator. The value that follows <b>LE</b> is a maximum value. The <i>BatchPredictions</i> that are placed in the results list will have <i>FilterVariable</i> values that are less than or equal to the value specified with <b>LE</b>.</p>"
        },
        "NE":{"shape":"ComparatorValue"},
        "Prefix":{
          "shape":"ComparatorValue",
          "documentation":"<p>The <b>Prefix</b> is a string that is found at the beginning of a variable, such as <b>Name</b> or <b>Id</b>.</p> <p>For example, a <code>Batch Prediction</code> could have the <b>Name</b> <code>2014-09-09-HolidayGiftMailer</code>. To search for this <code>BatchPrediction</code>, select <code>Name</code> for the <b>FilterVariable</b> and any of the following strings for the <b>Prefix</b>. </p> <ul> <li><p>2014-09</p></li> <li><p>2014-09-09</p></li> <li><p>2014-09-09-Holiday</p></li> </ul>"
        },
        "SortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>A two-value parameter that determines the sequence of the resulting list of <i>MLModels</i>.</p> <ul> <li> <code>asc</code> - Arranges the list in ascending order (A-Z, 0-9).</li> <li> <code>dsc</code> - Arranges the list in descending order (Z-A, 9-0).</li> </ul>"
        },
        "NextToken":{
          "shape":"StringType",
          "documentation":"<p>Identifier of the page in the paginated results</p>"
        },
        "Limit":{
          "shape":"PageLimit",
          "documentation":"<p> Number of pages of information to include in the result. The range of acceptable values is 1 through 100. The default value is 100.</p>"
        }
      }
    },
    "DescribeBatchPredictionsOutput":{
      "type":"structure",
      "members":{
        "Results":{
          "shape":"BatchPredictions",
          "documentation":"<p>A list of <a>BatchPrediction</a> structures that meet the query parameters, one structure to describe each <a>BatchPrediction</a>. </p>"
        },
        "NextToken":{
          "shape":"StringType",
          "documentation":"<p>Identifier of the next page in the paginated results indicating at least one more page of results follows.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <a>DescribeBatchPredictions</a> operation. The content is essentially a list of <i>BatchPredictions</i>.</p>"
    },
    "DescribeDataSourcesInput":{
      "type":"structure",
      "members":{
        "FilterVariable":{
          "shape":"DataSourceFilterVariable",
          "documentation":"<p>A list of the variables to use in searching or filtering <i>DataSources</i>.</p> <ul> <li> <code>CreatedAt</code> - sets the search criteria to <i>DataSource</i> creation dates.</li> <li> <code>Status</code> - sets the search criteria to <i>DataSources</i> statuses.</li> <li> <code>Name</code> - sets the search criteria to the contents of <i>DataSources</i> <b> </b> <b>Name</b>.</li> <li> <code>DataUri</code> - sets the search criteria to the URI of data files used to create the <i>DataSource</i>. The URI can identify either a file, or an Amazon S3 bucket or directory.</li> <li> <code>IAMUser</code> - sets the search criteria to the user account that invoked the <i>DataSource</i> creation.</li> </ul>"
        },
        "EQ":{
          "shape":"ComparatorValue",
          "documentation":"<p>Equal to operator. The value that follows <b>EQ</b> is a value to match. The <i>DataSources</i> that are placed in the results list will have <i>FilterVariable</i> values that exactly match the value specified with <b>EQ</b>.</p>"
        },
        "GT":{
          "shape":"ComparatorValue",
          "documentation":"<p>Greater than operator. The value that follows <b>GT</b> is a minimum value. The <i>DataSources</i> that are placed in the results list will have <i>FilterVariable</i> values that are greater than the value specified with <b>GT</b>.</p>"
        },
        "LT":{
          "shape":"ComparatorValue",
          "documentation":"<p>Less than operator. The value that follows <b>LT</b> is a maximum value. The <i>DataSources</i> that are placed in the results list will have <i>FilterVariable</i> values that are less than the value specified with <b>LT</b>.</p>"
        },
        "GE":{
          "shape":"ComparatorValue",
          "documentation":"<p>Greater than or equal to operator. The value that follows <b>GE</b> is a minimum value. The <i>DataSources</i> that are placed in the results list will have <i>FilterVariable</i> values that are greater than or equal to the value specified with <b>GE</b>. </p>"
        },
        "LE":{
          "shape":"ComparatorValue",
          "documentation":"<p>Less than or equal to operator. The value that follows <b>LE</b> is a maximum value. The <i>DataSources</i> that are placed in the results list will have <i>FilterVariable</i> values that are less than or equal to the value specified with <b>LE</b>.</p>"
        },
        "NE":{"shape":"ComparatorValue"},
        "Prefix":{
          "shape":"ComparatorValue",
          "documentation":"<p>The <b>Prefix</b> is a string that is found at the beginning of a variable, such as <b>Name</b> or <b>Id</b>.</p> <p>For example, a <code>DataSource</code> could have the <b>Name</b> <code>2014-09-09-HolidayGiftMailer</code>. To search for this <code>DataSource</code>, select <code>Name</code> for the <b>FilterVariable</b> and any of the following strings for the <b>Prefix</b>. </p> <ul> <li><p>2014-09</p></li> <li><p>2014-09-09</p></li> <li><p>2014-09-09-Holiday</p></li> </ul>"
        },
        "SortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>A two-value parameter that determines the sequence of the resulting list of <i>DataSources</i>.</p> <ul> <li> <code>asc</code> - Arranges the list in ascending order (A-Z, 0-9).</li> <li> <code>dsc</code> - Arranges the list in descending order (Z-A, 9-0).</li> </ul>"
        },
        "NextToken":{
          "shape":"StringType",
          "documentation":"<p>Identifier of the page in the paginated results</p>"
        },
        "Limit":{
          "shape":"PageLimit",
          "documentation":"<p> Maximum number of <i>DataSources</i> to include in the result.</p>"
        }
      }
    },
    "DescribeDataSourcesOutput":{
      "type":"structure",
      "members":{
        "Results":{
          "shape":"DataSources",
          "documentation":"<p>A list of <i>DataSources</i> that meet the query parameters. The content presented for each <i>DataSource</i> is the information in a <a>DataSource</a> structure. </p>"
        },
        "NextToken":{
          "shape":"StringType",
          "documentation":"<p>Identifier of the next page in the paginated results indicating at least one more page of results follows.</p>"
        }
      },
      "documentation":"<p>Represents the query results from a <a>DescribeDataSources</a> operation. The content is essentially a list of <i>DataSources</i>.</p>"
    },
    "DescribeEvaluationsInput":{
      "type":"structure",
      "members":{
        "FilterVariable":{
          "shape":"EvaluationFilterVariable",
          "documentation":"<p>Choose any item from the following list to search for <i>Evaluations</i>.</p> <ul> <li> <code>CreatedAt</code> - sets the search criteria to <i>Evaluation</i> creation date.</li> <li> <code>Status</code> - sets the search criteria to <i>Evaluation</i> status.</li> <li> <code>Name</code> - sets the search criteria to the contents of <i>Evaluation</i> <b> </b> <b>Name</b>.</li> <li> <code>IAMUser</code> - sets the search criteria to the user account that invoked an <i>Evaluation</i>.</li> <li> <code>MLModelId</code> - sets the search criteria to the <i>MLModel</i> that was evaluated.</li> <li> <code>DataSourceId</code> - sets the search criteria to the <i>DataSource</i> used in <i>Evaluation</i>.</li> <li> <code>DataUri</code> - sets the search criteria to the data file(s) used in <i>Evaluation</i>. The URL can identify either a file, or an Amazon S3 bucket or directory.</li> </ul>"
        },
        "EQ":{
          "shape":"ComparatorValue",
          "documentation":"<p>Equal to operator. The value that follows <b>EQ</b> is a value to match. The <i>Evaluations</i> that are placed in the results list will have <b>FilterVariable</b> values that exactly match the value specified with <b>EQ</b>.</p>"
        },
        "GT":{
          "shape":"ComparatorValue",
          "documentation":"<p>Greater than operator. The value that follows <b>GT</b> is a minimum value. The <i>Evaluations</i> that are placed in the results list will have <b>FilterVariable</b> values that are greater than the value specified with <b>GT</b>.</p>"
        },
        "LT":{
          "shape":"ComparatorValue",
          "documentation":"<p>Less than operator. The value that follows <b>LT</b> is a maximum value. The <i>Evaluations</i> that are placed in the results list will have <b>FilterVariable</b> values that are less than the value specified with <b>LT</b>.</p>"
        },
        "GE":{
          "shape":"ComparatorValue",
          "documentation":"<p>Greater than or equal to operator. The value that follows <b>GE</b> is a minimum value. The <i>Evaluations</i> that are placed in the results list will have <b>FilterVariable</b> values that are greater than or equal to the value specified with <b>GE</b>. </p>"
        },
        "LE":{
          "shape":"ComparatorValue",
          "documentation":"<p>Less than or equal to operator. The value that follows <b>LE</b> is a maximum value. The <i>Evaluations</i> that are placed in the results list will have <b>FilterVariable</b> values that are less than or equal to the value specified with <b>LE</b>.</p>"
        },
        "NE":{"shape":"ComparatorValue"},
        "Prefix":{
          "shape":"ComparatorValue",
          "documentation":"<p>The <b>Prefix</b> is a string that is found at the beginning of a variable, such as <b>Name</b> or <b>Id</b>.</p> <p>For example, a <code>Evaluation</code> could have the <b>Name</b> <code>2014-09-09-HolidayGiftMailer</code>. To search for this <code>Evaluation</code>, select <code>Name</code> for the <b>FilterVariable</b> and any of the following strings for the <b>Prefix</b>. </p> <ul> <li><p>2014-09</p></li> <li><p>2014-09-09</p></li> <li><p>2014-09-09-Holiday</p></li> </ul>"
        },
        "SortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>A two-value parameter that determines the sequence of the resulting list of <i>Evaluations</i>.</p> <ul> <li> <code>asc</code> - Arranges the list in ascending order (A-Z, 0-9).</li> <li> <code>dsc</code> - Arranges the list in descending order (Z-A, 9-0).</li> </ul>"
        },
        "NextToken":{
          "shape":"StringType",
          "documentation":"<p>Identifier of the page in the paginated results</p>"
        },
        "Limit":{
          "shape":"PageLimit",
          "documentation":"<p> Maximum number of <i>Evaluations</i> to include in the result.</p>"
        }
      }
    },
    "DescribeEvaluationsOutput":{
      "type":"structure",
      "members":{
        "Results":{
          "shape":"Evaluations",
          "documentation":"<p>A list of <i>Evaluations</i> that meet the query parameters, with an <a>Evaluation</a> structure of data for each <i>Evaluation</i>. </p>"
        },
        "NextToken":{
          "shape":"StringType",
          "documentation":"<p>Identifier of the next page in the paginated results indicating at least one more page of results follows.</p>"
        }
      },
      "documentation":"<p>Represents the query results from a <a>DescribeEvaluations</a> operation. The content is essentially a list of <i>Evaluations</i>.</p>"
    },
    "DescribeMLModelsInput":{
      "type":"structure",
      "members":{
        "FilterVariable":{
          "shape":"MLModelFilterVariable",
          "documentation":"<p>A list of the variables to use in searching or filtering <i>MLModels</i>.</p> <ul> <li> <code>CreatedAt</code> - sets the search criteria to <i>MLModel</i> creation date.</li> <li> <code>Status</code> - sets the search criteria to <i>MLModel</i> status.</li> <li> <code>Name</code> - sets the search criteria to the contents of <i>MLModel</i><b> </b> <b>Name</b>.</li> <li> <code>IAMUser</code> - sets the search criteria to the user account that invoked the <i>MLModel</i> creation.</li> <li> <code>TrainingDataSourceId</code> - sets the search criteria to <i>DataSource</i> used to train one or more <i>MLModels</i>.</li> <li> <code>RealtimeEndpointStatus</code> - sets the search criteria to <i>MLModel</i> realtime endpoint status.</li> <li> <code>MLModelType</code> - sets the search criteria to <i>MLModel</i> type: binary, regression, or multi-class.</li> <li> <code>Algorithm</code> - sets the search criteria to the algorithm that the <i>MLModel</i> uses.</li> <li> <code>TrainingDataURI</code> - sets the search criteria to the data file(s) used in training a <i>MLModel</i>. The URL can identify either a file, or an Amazon S3 bucket or directory.</li> </ul>"
        },
        "EQ":{
          "shape":"ComparatorValue",
          "documentation":"<p>Equal to operator. The value that follows <b>EQ</b> is a value to match. The <i>MLModels</i> that are placed in the results list will have <i>FilterVariable</i> values that exactly match the value specified with <b>EQ</b>.</p>"
        },
        "GT":{
          "shape":"ComparatorValue",
          "documentation":"<p>Greater than operator. The value that follows <b>GT</b> is a minimum value. The <i>MLModels</i> that are placed in the results list will have <i>FilterVariable</i> values that are greater than the value specified with <b>GT</b>.</p>"
        },
        "LT":{
          "shape":"ComparatorValue",
          "documentation":"<p>Less than operator. The value that follows <b>LT</b> is a maximum value. The <i>MLModels</i> that are placed in the results list will have <i>FilterVariable</i> values that are less than the value specified with <b>LT</b>.</p>"
        },
        "GE":{
          "shape":"ComparatorValue",
          "documentation":"<p>Greater than or equal to operator. The value that follows <b>GE</b> is a minimum value. The <i>MLModels</i> that are placed in the results list will have <i>FilterVariable</i> values that are greater than or equal to the value specified with <b>GE</b>. </p>"
        },
        "LE":{
          "shape":"ComparatorValue",
          "documentation":"<p>Less than or equal to operator. The value that follows <b>LE</b> is a maximum value. The <i>MLModels</i> that are placed in the results list will have <i>FilterVariable</i> values that are less than or equal to the value specified with <b>LE</b>.</p>"
        },
        "NE":{"shape":"ComparatorValue"},
        "Prefix":{
          "shape":"ComparatorValue",
[...]
