.DS_Store
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Emacs backup files
*~

# IDEA / PyCharm IDE
.idea/

# Virtualenvs
env
env2
env3

docs/source/reference/services
tests/coverage.xml
tests/nosetests.xml
