wheel==0.38.1
behave==1.2.5
jsonschema==2.5.1
coverage==5.5

# Pytest specific deps
pytest==7.1.2
pytest-cov==2.12.1
pytest-xdist==2.4.0
atomicwrites>=1.0 # Windows requirement
colorama>0.3.0 # Windows requirement
